.list {
    min-width: 245px;
    border-radius: 4px;
    padding: 14px 10px;
    margin-right: 14px;
    /*background-color: #fff;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    border: 1px solid transparent;
    transition: .3s;
}

.list:hover {
    border: 1px solid rgba(105, 105, 105, .3); 
}

.list__header {
    padding: 0 0 14px 10px;
    color: #26292f;
    font-weight: 600;
}

.list__body {
    margin-bottom: 14px;
}

.list__new-task {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #696969;
}

.list__new-task span {
    padding-left: 4px;
}