@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.dragscroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; /* this is critical */
    user-select: none;
}

.new-button {
    position: relative;
    background: linear-gradient(to right top, rgb(255, 82, 99) 0%, rgb(255, 115, 129) 35%, rgb(252, 189, 1) 100%);
    color: white;
    border: none;
    padding: 6px 8px 5px 4px;
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
    cursor: pointer;
    transition: 0.2s;
    /*transform: scale(.831);*/
    border-radius: 4px;
    z-index: 10;
}

.new-button:focus {
    outline: none;
}

.new-button__actions {
    position: absolute;
    width: 220px;
    top: 40px;
    right: 0;
    margin-right: 12px;
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 0;
    border: 1px solid #d5dce0;    
    box-shadow: 0 0 0 1px rgba(100,111,121,.15), 0 5px 20px 0 rgba(21,27,38,.08);
    color: #151b26;
    z-index: 100;
}

.new-button__action-item {
    padding: 12px 14px;
    display: flex;
    align-items: center;
}

.new-button__action-item > svg {
    margin-right: 14px;
}

.new-button__action-item:hover {
    color: #fff;
    background: linear-gradient(to right top, rgb(255, 82, 99) 0%, rgb(255, 115, 129) 35%, rgb(252, 189, 1) 100%);
}

.new-button__form-container {
    position: absolute;
    width: 260px;
    top: 40px;
    margin-right: 12px;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 14px;
    border: 1px solid #d5dce0;    
    box-shadow: 0 0 0 1px rgba(100,111,121,.15), 0 5px 20px 0 rgba(21,27,38,.08);
    color: #151b26;
    cursor: pointer;
    /*z-index: 10; FIXME: uncomment this if needed. commented this out on 12/20/2019 */
}

.new-button__form-container button {
    font-size: 14px;
}

.new-button__form textarea {
    width: 100%;
    box-sizing: border-box;
    height: 64px;
    min-height: 64px;
    padding: 6px 8px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 14px;
    font-family: inherit;
}

.new-button__form textarea:focus {
    outline: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #303338a6;
    z-index: 100;
}

.close-circle {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 36px;
    height: 36px;
    background-color: black;
    color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-circle > * {
    margin: 0 !important;
}

.fixed-container {
    position: fixed;
}

.card__quick-edit__container, .card__quick-edit__title-editor {
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}

.card__quick-edit__title-editor {
    padding: 7px 9px;
    font-family: inherit;
    font-size: 14px;
    resize: none;
    border: 1px solid #fff;
}

.card__quick-edit__title-editor:focus {
    outline: none;
}

.card__quick-edit__save {
    margin-top: 12px;    
    background-color: #5aac44;
    box-shadow: none;
    border: none;
    color: #fff;
    padding: 10px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.card__quick-edit__save:focus {
    outline: none;
}

.card__quick-edit__actions {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.card__quick-edit__action {
    background-color: #1b1b1b9c;
    border-radius: 4px;
    color: #fff;
    padding: 6px 12px 6px 8px;
    margin: 0 0 4px;
    cursor: pointer;
}