.button {
    border-radius: 4px;
    padding: 8px;
    border: 1px solid;
    background: none;
    color: #d5dce0;
    border-color: #646f79;
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
    transition: .2s;
}

.btn-icon, .button.btn-no-border-icon {
    display: inline-flex;
    align-items: center;
    padding-right: 12px;
}

.button.btn-icon > svg {
    margin-right: 6px;
    font-size: 1.2em !important;
    fill: #646f79;
}

.button.fullwidth {
    width: 100%;
}

.button.small {
    font-size: .725em;
    padding: 3px 6px 3px 4px;
}

.button.medium {
    padding: 6px 8px 5px 4px;
}

.button.black {
    color: black;
}

.button.white {
    color: white;
}

.button.white > svg {
    fill: #fff;
}

.button.dark-grey {
    color: #646f79;
}

.button.light-grey:hover {
    color: black;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.button.light-grey:hover > svg {
    fill: black;
}

.button.light-grey {
    color: rgba(0, 0, 0, 0.54);
}

.button.btn-no-border, .button.btn-no-border-icon {
    border: none;
}

