.user-initials {
    width: 28px;
    height: 28px;
    border-radius: 25px;
    border: 1px solid grey;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .84em;
}